<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :original_url %>
    <%= form.text_field :original_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h3>Note: </h3>
<span>
  This form to create new profile easily & Or login to your profile.
  Please, Save your Name & your Original URL case sensitive in any plase in your device.
  To avoid create new profile.
</span>

<br>
<br>
