<p id="notice"><%= notice %></p>

<ul>
  <li><a href="default.asp">My Profile</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
  <li style="color: white; float: right; font-size: 18px;"><%= @user.name %></li>
</ul>


<%= search_form_for @q, url: home_user_path(@user) do |f| %>

  # Search if the name field contains...
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  # Search if the original URL field contains...
  <%= f.label :original_url_cont %>
  <%= f.search_field :original_url_cont %>

  # Search if an associated headings.html_value starts with...
  <%= f.label :headings_html_value_cont %>
  <%= f.search_field :headings_html_value_cont %>

  <%= f.submit %>
<% end %>


<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Original url</th>
      <th>Shorten url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.original_url %></td>
        <td><%= user.shorten_url %></td>
        <td><%= link_to 'Matched Headings', headings_user_path(user, q: {html_value_cont: params[:q] ? params[:q][:headings_html_value_cont] : ''}) %></td>
        <%# <td><%= link_to 'Path to User', edit_user_path(user) %></td>
        <td>
          <%= @user.is_friend?(user) ?
          link_to('Remove Friend',
          friendship_path(Friendship.find_by(user_id: @user.id, friend_id: user.id)),
          {method: "delete", remote: true, data: { confirm: "Are you sure?" }}) :
          link_to('Add Friend',
          friendships_path(friendship: {user_id: @user.id, friend_id: user.id}),
          {method: "post", remote: true, data: { confirm: "Are you sure?" }}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
